[submodule "vendor/cereal"]
	path = vendor/cereal
	url = https://github.com/USCiLab/cereal
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/wxWidgets"]
	path = vendor/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets
